 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>In March 1980 a little baby boy was born in the land of the Tango, Gauchos & most importantly Carne, Argentina.</p>
                </div>
                <div class="col-lg-4">
                    <p>Exactly 5 months later and 11,445 km away a little baby girl was born in the land of the Tulips & Windmills, the Netherlands.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>More than 3 decades later, on "2<sup>e</sup> Kerstdag" (2<sup>nd</sup> Xmas day) they found each other under their friend's Xmas tree; the beginning of an unexpected journey... <span id="heart"></span></p>
                </div>
            </div>
            <div class="row">
                <ul class="col-lg-8 col-lg-offset-2 gallery">
                    {% for i in (0..9) %}
                    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 wedding-item photo">
                        <img src="img/photos/photo{{ i }}.jpg" class="img-responsive" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>