<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Matirola" />

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% elsif page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}


    <!-- Open graph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    {% if page.date %}
    <meta property="og:type" content="article" />
    {% else %}
    <meta property="og:type" content="website" />
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{% if page.rooturl != 'home' %}{% if page.rooturl %}/{{ page.rooturl }}{% else %}{{ page.url }}{% endif %}{% endif %}" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Matirola" />
    <meta property="og:image" content="{{ site.url }}/img/matirola.jpg" />
    <meta property="og:image:width" content="152" />
    <meta property="og:image:height" content="152" />
    <meta property="og:image" content="{{ site.url }}/img/matirola.jpg" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" />
    {% if page.image %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="{{ site.url }}/images/blog/{{ page.image }}" />
    {% endif %}


    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="apple-touch-icon" type="image/png" href="/images/xtouch-icon.png"/>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "style.css" | prepend: site.baseurl }}" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58188846-1', 'auto');
        ga('send', 'pageview');

    </script>

    {% if page.extra_head_markup %}{{page.extra_head_markup}}{% endif %}
</head>
