 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "js/freelancer.js" | prepend: site.baseurl }}"></script>


    <!-- Tabs -->
    <script>
     jQuery(document).ready(function() {
         jQuery('.tabs .tab-links a').on('click', function(e)  {

             var currentAttrValue = jQuery(this).attr('href');

             // Show/Hide Tabs
             jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

             // Change/remove current tab to active
             jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

             e.preventDefault();
         });
     });
    </script>

