<!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="wedding-modal modal fade" id="weddingModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Google Analytics - Page View -->
        <script type="text/javascript">
            ga('send', {
                'hitType':  'pageview',
                'page': '{{ post.modal-id }}',
                'title': '{{ post.title }}'
            });
        </script>

        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-header">
                            <h1>{{ post.title }}</h1>
                            <hr class="star-primary">
                            <img src="img/wedding/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="modal-body">
                            {{ post.content }}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}