
    <!-- Portfolio Grid Section -->
    <section id="wedding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Wedding</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% assign sorted_posts = (site.posts | sort: 'modal-id') %}
                {% for post in sorted_posts %}
                    <div class="col-sm-4 wedding-item">
                        <a href="#weddingModal-{{ post.modal-id }}" class="wedding-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/wedding/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>